.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-content {
  flex: 1;
  padding: 24px;
  box-sizing: border-box;
}

.ad-input-container {
  display: flex;
  justify-content: space-between;
}

.ad-input {
  width: 65%;
}

.generated-ad {
  width: 30%;
}
.empty-image-placeholder {
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #888;
}
